/* phone responsive */
@media (max-width: 470px){

    /* navigation section  */
 .navbar{
     flex-direction: column;
 }

    /* home section  */


    /* services */
    .services{
        flex-direction: column;
    }

    /* client section  */
    .clients{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .client-item img{
        height: 50px;
        width: 50px;
        margin: 10px;
    }

    /* contact section */

    
}